body{
    background-image: url("zs.jpg");
    background-color: #cccccc;
    height: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;

}

/*.Home{
    body{
    background-image: url("Zeleznicka-stanica-Novi-Sad-6.jpg");

    height: 100%;
    margin-top: -70px;

    
    background-repeat: no-repeat;
    background-size: cover;
    }
}   */